<section class="content">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center ">
        <!-- left column -->
        <div class="col-md-5 mt-5 ">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Login</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form  #login = "ngForm" (ngSubmit) = "loginDt(login.value)" >
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">User Name</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="User Name" ngModel name="email"> 
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel name="password">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button name="Submit" type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
          </div>
          </div>
          </div>
          </section>